<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Documentos - VEDRONGA</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>📚 Documentos y Certificados</h1>

  <div class="text-center my-4">
    <!-- Certificados -->
    <a href="public/certificado_idoneidad.pdf" target="_blank" class="btn btn-pdf">
    🧾 Ver Certificado de Idoneidad
</a>
<a href="public/certificado_piloto.pdf" target="_blank" class="btn btn-pdf">
    🧾 Ver Certificado de Piloto
</a>
<a href="public/credencial.pdf" target="_blank" class="btn btn-pdf">
    🧾 Ver Credencial
</a>
<a href="public/registro_dron_dji_air2s.pdf" target="_blank" class="btn btn-pdf">
    🧾 Ver Registro Dron Air2s
</a>
  </div>

</body>
</html>
