<section id="portafolio" class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center mb-4">Portafolio</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <img src="img/img1.jpg" class="img-fluid rounded shadow"
             alt="Ejemplo 1" data-bs-toggle="modal" data-bs-target="#modalImg1">
      </div>
      <div class="col-md-4 mb-4">
        <img src="img/img2.jpg" class="img-fluid rounded shadow"
             alt="Ejemplo 2" data-bs-toggle="modal" data-bs-target="#modalImg2">
      </div>
      <div class="col-md-4 mb-4">
        <img src="img/img3.jpg" class="img-fluid rounded shadow"
             alt="Ejemplo 3" data-bs-toggle="modal" data-bs-target="#modalImg3">
      </div>
    </div>
  </div>
</section>

<!-- Modales para imágenes -->
<div class="modal fade" id="modalImg1" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content bg-dark">
      <div class="modal-body text-center">
        <img src="img/img1.jpg" class="img-fluid rounded" alt="Ejemplo 1">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalImg2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content bg-dark">
      <div class="modal-body text-center">
        <img src="img/img2.jpg" class="img-fluid rounded" alt="Ejemplo 2">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalImg3" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content bg-dark">
      <div class="modal-body text-center">
        <img src="img/img3.jpg" class="img-fluid rounded" alt="Ejemplo 3">
      </div>
    </div>
  </div>
</div>
